#coding-content {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
  background-color:rgba(0,0,0,1); color: #FFF;
}

#coding-content.open {
  display: block;
  height: 100vh;
  text-align: center;
  font-weight: 100;
  padding-top: 30px;
  letter-spacing: 2px;
  transition: 1s ease-in;
  // transition-duration: 3s;
}

// #coding-content.close {
//   top: 100vh;
//   height: 0;
// }
.coding-top_project{
  display: flex;
  font-weight: 100;
  margin-bottom: 17px;

}

.coding-logo{
  width: 50%;
  padding: 40px;
  justify-content: center;
}

.coding-description {
  width: 50%;
  padding: 40px;
  justify-content: center;
}

.back{
  p {
    font-size: 10px;
    padding: 0px;
    margin: 0px;
  }
  color: white;
  padding: 0px;
  font-size: 20px;
}
