---
title: Jedhana
---
  <div class="pagess" id="overlay">
    <div class="pageleft">
      <div class="upperhalf">
        <p class="type"></p>
      </div>
      <div class="lowehalf">
        <p>Architect, Developer, <br> Designer</p>
      </div>
    </div>
    <div class="pageright">
      <div class="architecture">
        <p class="arch">ARCHITECTURE</p>

      </div>
      <div class="coding">
        <p>CODING</p>

      </div>
      <div class="resume">
        <p>RESUME</p>

      </div>
      <div class="socialmedia">
        <p>
          Find me on my social medias:<br>
          <br>
          <div class="icons">
            <a href="https://www.facebook.com/jeremydhanani" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/Jedhana" target="_blank"><i class="fab fa-twitter-square"></i></a>
            <a href="https://www.instagram.com/jedhana/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/jeremy-dhanani-090b0a126/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </p>

      </div>

    </div>
    <div class="pageextremeright">
      <li>MENU
        <a href=""><i class="fas fa-bars"></i></a>
          <ul><a href="">Architecture</a></ul>
          <ul><a href="">Coding</a></ul>
          <ul><a href="">Resume</a></ul>
      </li>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
  <script src="application.js"></script>
  <script type="text/javascript" src="typed.js"></script>
  <script type="text/javascript">
      var typed = new Typed(".type", {
        strings: ["Jeremy Dhanani", "[JEDHANA]"],
        typeSpeed: 50,
        backSpeed: 30,
      });
  </script>
  <script src="application.js"></script>

