---
title: JEDHANA
---
  <div class="pagess" style="background-image: url(images/giphy.gif)">
    <div class="pageleft">
      <div class="upperhalf">
        <p class="typed"></p>
      </div>
      <div class="lowehalf">
        <p>Architect, Developer, <br> Designer</p>
      </div>
    </div>
    <div class="pageright">
      <div class="architecture">
        <p class="arch">ARCHITECTURE</p>

      </div>
      <div class="coding">
        <p>CODING</p>

      </div>
      <div class="resume">
        <p>RESUME</p>

      </div>
      <div class="socialmedia">
        <p>
          Find me on my social medias:<br>
          <br>
          <div class="icons">
            <a href="https://www.facebook.com/jeremydhanani" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/Jedhana" target="_blank"><i class="fab fa-twitter-square"></i></a>
            <a href="https://www.instagram.com/jedhana/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/jeremy-dhanani-090b0a126/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </p>

      </div>

    </div>
    <div class="pageextremeright hidden-xs">
      <li>MENU
        <a href=""><i class="fas fa-bars"></i></a>
          <ul><a href="">Architecture</a></ul>
          <ul><a href="">Coding</a></ul>
          <ul><a href="">Resume</a></ul>
      </li>
    </div>
  </div>

  <script>import Typed from 'typed.js'</script>
  <script type="text/javascript">
      var typed = new Typed(".typed", {
        strings: ["Jeremy Dhanani", "[JEDHANA]"],
        typeSpeed: 50,
        backSpeed: 30,
      });
  </script>


