<style type="text/css">

  #wrapper {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 1px;
    /*max-width: 960px;*/
    grid-template-areas:
    "lleft lleft"
    "rright rright"
    "rright rright";
  }

@media screen and (min-width: 780px){
  #wrapper {
    display:grid;
    grid-template-columns: 50% 40% 1fr;
    grid-auto-rows: 100vh;
    grid-gap: 1px;
    /*max-width: 960px;*/
    grid-template-areas:
    "lleft rright rright xright"
    "lleft rright rright xright";
  }
}
  #wrapper > * {
    color: white;
    text-align: center;
    padding: 30px;
  }

  .testleft {
    grid-area: lleft;
    border-right: 1px solid rgba(255,255,255,.45);

  }
  .testright {
    grid-area: rright;
    border-right: 1px solid rgba(255,255,255,.45);

  }
  .testxright {
    grid-area: xright;
  }

</style>
<div id="wrapper">
  <div class="testleft">JEDHANA</div>
  <div class="testright">LINKS</div>
  <div class="testxright hidden-xs">menu</div>
</div>
